:root {
    --primary-color:#043873;
    --text-font: inter;
    --light-color:hsl(0, 0%, 100%);
    --title-font:Ds;
    --secundary-color: #48ca95;
    --terceary-color:#000000;
    --blue-color:#4F9CF9;
    --text-title:bol;






}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:var(--text-font) ;
    text-decoration: none;
}
@font-face {
    font-family: Ds;
    src: url("./assets/Fonts/DMSans-Bold.ttf");
}
@font-face {
    font-family: inter;
    src: url("./assets/Fonts/Inter_18pt-Regular.ttf");

}
@font-face {
    font-family: bol;
    src: url("./assets/Fonts/Inter_18pt-Bold.ttf");
    
}
header {
    background-image: url("./assets/imagenes/Hero-section.png") ;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    min-height: 10vh;
}



nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    padding: 10px;
}
nav ul {
    display: flex;
    list-style-type:none;
}
nav ul li {
    padding: 10px;
    text-decoration:var(--light-color) ;
    
}
nav ul li a {
    color: var(--light-color);
    text-decoration: none;
    font-family: var(--title-font);
}
nav ul li a:hover {
    color:var(--secundary-color);
}


nav img {
    max-width: 100%;
    height: auto;
}
.menu-src {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}
.menu-src li {
    margin: 0 10px;
}
.menu-src a {
    color:var(--light-color);
    text-decoration: none;
}
ul.menu-src li a.selected {
    color:var(--secundary-color); 
}

.botones {
    display: flex;
}
.btns, .btns1 {
    margin-left: 10px;
    color: var(--terceary-color);
    text-decoration: none;
    padding: 10px;
    font-family: var(--text-font);
    background-color:#FFE492;
    border-radius: 5px;
    border: 2px solid var(--primary-color);
}
.btns1{
    background-color: var(--blue-color);
}



.header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    
}
.header-content-text {
    margin-bottom: 20px;
    color: var(--light-color);
    font-family: var(--text-font);
    max-width: 500px;

}
.header-title {
    font-size: 30px;
    margin-bottom: 10px;
    font-family: var(--text-title);
}
.header-content-btn .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color:var(--blue-color);
    color:var(--light-color);
    text-decoration: none;
    border-radius: 5px;
    font-family: var(--text-font);
}
.header-img {
   
    height: auto;
}
.menu-mobile {
    display: none;
}
@media (min-width: 600px) {
    .header-content {
        flex-direction: row;
        justify-content: space-between;
        text-align: left;
    }
    .header-content-text {
        max-width: 50%;
        margin-bottom: 0;
    }
}
@media (max-width: 600px) {
    .menu-src, .botones {
        display: none;
    }
    .menu-mobile {
        display: block;
    }
}
/* finalizamos el header