:root {
    --primary-color: #043873;
    --text-font: inter;
    --light-color: hsl(0, 0%, 100%);
    --title-font: Ds;
    --secundary-color: #48ca95;
    --terceary-color: #000000;
    --blue-color: #4F9CF9;
    --text-title: bol;
}


/* inicio animaciones */

* {
    outline: 1px solid red;
    /* Esto ayudará a identificar visualmente los elementos problemáticos */
}


/*fin de animaciones*/

.footer-frame {
    border: none;
    width: 100%;
    height: 250px;
    margin-top: 0px;
}

@media(max-width:600px) {
    .footer-frame {
        height: 840px;
    }
}

.header-frame {
    border: none;
    width: 100%;
    height: 70px;
    margin-top: 0%;
}

@media(max-width:600px) {
    .header-frame {
        height: 70px;
    }
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--text-font);
    text-decoration: none;
    padding-top: 0px;
    padding-bottom: 0px;
}

@font-face {
    font-family: Ds;
    src: url("./assets/Fonts/DMSans-Bold.ttf");
}

@font-face {
    font-family: inter;
    src: url("./assets/Fonts/Inter_18pt-Regular.ttf");
}

@font-face {
    font-family: bol;
    src: url("./assets/Fonts/Inter_18pt-Bold.ttf");
}


/*iniciamos el header*/

header {
    background-image: url("./assets/imagenes/Hero-section.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    padding-bottom: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav ul li {
    padding: 10px;
    text-decoration: var(--light-color);
}

nav ul li a {
    color: var(--light-color);
    text-decoration: none;
    font-family: var(--title-font);
}

nav ul li a:hover {
    color: var(--secundary-color);
}

nav img {
    max-width: 100%;
    height: auto;
}

.menu-src {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-src li {
    margin: 0 10px;
}

.menu-src a {
    color: var(--light-color);
    text-decoration: none;
}

ul.menu-src li a.selected {
    color: var(--secundary-color);
}

.botones {
    display: flex;
}

.btns,
.btns1 {
    margin-left: 10px;
    color: var(--terceary-color);
    text-decoration: none;
    padding: 10px;
    font-family: var(--text-font);
    background-color: #FFE492;
    border-radius: 5px;
    border: 2px solid var(--primary-color);
}

.btns1 {
    background-color: var(--blue-color);
}

.header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    background-image: url("./assets/imagenes/Hero-section.png");
    margin-top: 2px;
}

.header-content-text {
    margin-bottom: 20px;
    color: var(--light-color);
    font-family: var(--text-font);
    max-width: 500px;
}

.prestalo {
    font-size: 25px;
}

.header-title {
    font-size: 30px;
    margin-bottom: 10px;
    font-family: var(--text-title);
}

.header-content-btn .btn {
    display: inline-block;
    padding: 5px 5px;
    background-color: var(--blue-color);
    color: var(--light-color);
    text-decoration: none;
    border-radius: 5px;
    font-family: var(--text-font);
}

.header-img {
    height: auto;
}

.menu-mobile {
    display: none;
    cursor: pointer;
}

.menu-desplegable {
    display: none;
    background-color: #333;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 300px;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.menu-desplegable a {
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
}

.menu-desplegable a:hover {
    background-color: #555;
}

@media (min-width: 600px) {
    .header-content {
        flex-direction: row;
        justify-content: space-between;
        text-align: left;
    }
    .header-content-text {
        max-width: 50%;
        margin-bottom: 0;
    }
}

.img-logo {
    width: 300px;
}

@media (max-width: 600px) {
    .botones {
        display: none;
    }
    .menu-src {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: white;
        top: 60px;
        left: -100%;
        text-align: center;
    }
    .nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    .menu-mobile {
        display: block;
    }
    #check:checked~.menu-desplegable {
        display: block;
    }
    .menu-desplegable {
        margin-top: 40px;
        width: 100%;
    }
    .prestalo {
        font-size: 1.5em;
        text-align: left;
    }
    .header-title {
        font-size: 1.7em;
    }
}


/* finalizamos el header*/


/*iniciamos el contactanos*/

.contact {
    background-color: var(--light-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 60px;
    flex-direction: column;
    padding: 60px;
    margin-bottom: 10px;
}

.contact-form {
    background-color: #e8eaf6;
    border: 1px solid var(--terceary-color);
    padding: 100px;
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section-title {
    text-transform: uppercase;
    font-size: 26px;
    font-family: var(--text-title);
    border-bottom: 1px solid var(--terceary-color);
    margin-bottom: 25px;
    color: var(--terceary-color);
}

.texto {
    color: var(--terceary-color);
    background-color: transparent;
    margin: 10px 0px;
    padding: 10px;
    border: 1px solid var(--terceary-color);
    resize: none;
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    font-family: var(--text-font);
}

.camp {
    width: 100%;
    height: 40px;
    margin: 10px 0px;
    padding: 10px;
    background-color: transparent;
    font-family: var(--text-font);
    box-shadow: none;
    outline: none;
    color: var(--terceary-color);
    border: transparent;
}

.error {
    font-size: 12px;
    color: red;
}

.form-input {
    width: 100%;
    height: 40px;
    margin: 10px 0px;
    padding: 10px;
    background-color: transparent;
    font-family: var(--text-font);
    box-shadow: none;
    outline: none;
    color: var(--light-color);
    border: 1px solid var(--terceary-color);
}

.form-btn {
    color: var(--light-color);
    padding: 15px 60px;
    border: 2px solid var(--light-color);
    text-decoration: none;
    margin-top: 40px;
    background-color: var(--primary-color);
    max-width: 250px;
    border-radius: 25px;
    cursor: pointer;
}

.form-btn:hover {
    color: var(--terceary-color);
    background-color: var(--blue-color);
}

@media(max-width :800px) {
    .contact-form {
        width: 127%;
    }
    .form-control {
        width: 160%;
    }
    .camp {
        width: 165%;
    }
    .texto {
        width: 200%;
    }
    .form-btn:hover {
        color: var(--terceary-color);
        background-color: var(--blue-color);
    }
    .error {
        width: 160%;
    }
}


/*finalizo el contactanos*/


/* inicio del footer */

footer {
    background-color: var(--primary-color);
    color: var(--light-color);
    padding: 20px;
    margin-bottom: 0%;
    padding-bottom: 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.footer-section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.parrafo1 {
    font-size: 15px;
    font-family: var(--text-font);
}

.footer-item {
    flex: 1;
    min-width: 150px;
    max-width: 200px;
}

.texto-1 {
    margin-top: 0;
    font-family: var(--title-font);
    font-size: 20px;
    color: var(--light-color);
    margin-right: 95px;
}

.logo {
    width: 150px;
    height: auto;
    padding-top: 100px;
}

.link1,
.link1:hover {
    color: var(--light-color);
    text-decoration: none;
    display: block;
    margin-bottom: 5px;
    font-family: var(--text-font);
    font-size: 15px;
}

button {
    background-color: #007BFF;
    color: var(--light-color);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.footer-section1,
.footer-section2 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    gap: 60px;
    margin-left: 109px;
}

.link1 {
    color: white;
    text-decoration: none;
    margin: 5px 5px;
}

.link1a {
    color: var(--light-color);
}

.link1:hover {
    text-decoration: underline;
}

.footer-section1 p {
    margin: 10px 0;
}

.iconosi {
    font-size: 20px;
    margin: 27px;
    display: flex;
    gap: 33px;
}

@media (max-width: 700px) {
    .footer-section {
        flex-direction: column;
        align-items: center;
    }
    .footer-section1 {
        flex-direction: column;
        align-items: center;
        margin: auto;
    }
    .footer-section2 {
        flex-direction: column;
        align-items: center;
        margin: auto;
        gap: 10px;
        margin-top: 30px;
    }
    .footer-item {
        max-width: none;
        text-align: center;
    }
    .iconosi {
        margin-top: -10px;
    }
    .link1a {
        margin-top: 0;
        margin-bottom: 0;
    }
    .texto-1 {
        margin: 0;
    }
    .logo {
        padding-top: 0;
    }
}


/*terminamos el footer*/


/*iniciamos la pagina de alquila*/

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 0px;
    padding-bottom: 10px;
}

.catalogo {
    display: flex;
    width: 30%;
    margin-top: 10px;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    border: 1px solid pink;
    padding: 10px;
    transition: transform 0.3s ease-in-out;
}

.catalogo:hover {
    transform: scale(0.9);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.catalogo img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    max-height: 200px;
}

.catalogo p {
    font-size: 16px;
    font-family: var(--text-font);
    color: var(--terceary-color);
    margin: 15px 0px;
}

.catalogo h2 {
    font-size: 23px;
    font-family: var(--title-font);
}

button {
    align-self: center;
    margin-top: 10px;
}

@media(max-width:700px) {
    .catalogo {
        width: 100%;
    }
}


/*finalizamos la parte de alquila tu equipo*/


/*iniciamos la seccion de descripcion general en la pagina estatica*/

.enlaces1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-image: url("./assets/imagenes/fondo1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin-top: 2px;
    justify-content: center;
    width: 100vw;
}

.general {
    display: flex;
    justify-content: left;
    align-items: left;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
}

.introducion1 {
    width: 40%;
    font-size: 23px;
    font-family: var(--text-font);
    margin-bottom: 8vh;
    color: var(--light-color);
    align-items: left;
    padding: 0 10px;
    margin-left: 400px;
}

.title {
    font-size: 50px;
    font-family: var(--text-title);
    color: var(--light-color);
    padding-right: 30px;
    margin-bottom: 0%;
    padding-bottom: 0%;
    text-align: center;
}

.curved-text {
    position: absolute;
    width: 20%;
    margin-top: 31vh;
    height: auto;
    padding-left: 27px;
}

.realistic-text {
    font-size: 24px;
    font-family: var(--title-font);
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.8));
}

.realistic-text textPath {
    fill: var(--terceary-color);
}

text {
    font-size: 24px;
    fill: var(--terceary-color);
    font-family: var(--title-font);
}

.leer0 {
    font-family: var(--text-font);
    font-size: 15px;
    margin-left: 0%;
    width: fit-content(120px);
    height: fit-content(60px);
    padding: 5px;
    margin-top: -30px;
}

button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

@media(max-width:500px) {
    .enlaces1 {
        width: 100%;
        background-image: url("./assets/imagenes/Hero-section.png");
        height: 63vh;
        align-content: flex-start;
    }
    .title {
        width: 100%;
        font-size: 20px;
    }
    .curved-text {
        display: none;
    }
    .introducion1 {
        width: 100%;
        font-size: 1.5em;
        font-family: var(--text-font);
        color: var(--light-color);
        align-items: left;
        padding: 0 10px;
        margin-left: 2vw;
        text-align: left;
    }
}


/*terminamos la seccion de descripcion general en la pagina estatica*/


/*iniciamos la pagina de descripcion general*/

.descripcion-general {
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.title- {
    font-size: 23px;
    font-family: var(--text-title);
    text-align: center;
    margin-bottom: 20px;
}

.subtitle {
    font-size: 19px;
    font-family: var(--title-font);
    margin-bottom: 15px;
    margin-top: 15px;
    color: var(--terceary-color);
    text-align: left;
}

.contenido {
    font-size: 16px;
    font-family: var(--text-font);
    text-align: justify;
    margin-top: 7px;
    margin-bottom: 7px;
}

.list {
    font-size: 15px;
    font-family: var(--text-title);
    color: var(--terceary-color);
    margin-top: 7px;
    margin-bottom: 7px;
    padding-left: 20px;
    list-style-position: inside;
}

.contenido1 {
    font-size: 15px;
    font-family: var(--text-font);
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 40px;
}

@media(max-width:700px) {
    .descripcion-general {
        padding: 10px;
    }
}


/*termine la pagina de descripcion general*/


/*inicie la sections de pagina estatica*/

.texplora {
    background-color: #010834;
    margin-top: 2px;
}

.enlaces2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 20px;
    padding: 20px;
    width: 100%;
    margin-top: 2px;
    box-sizing: border-box;
    background-color: #010834;
}

.title-explora {
    font-size: 23px;
    text-align: center;
    color: var(--light-color);
    font-family: var(--title-font);
    padding-top: 35px;
}

.general-1 {
    display: flex;
    flex: 1;
    min-width: 300px;
    margin: 10px;
    padding: 20px;
    text-align: center;
    box-sizing: border-box;
    display: flex;
    background-repeat: no-repeat;
    background-position: center;
    flex-direction: column;
    justify-content: flex-start;
    background-color: white;
    border-radius: 2px;
}

.title4 {
    font-size: 30px;
    font-family: var(--text-title);
    color: var(--primary-color);
    text-align: left;
    margin-bottom: 10px;
}

.introducion4 {
    font-size: 26px;
    font-family: var(--text-font);
    margin-bottom: 10px;
    color: var(--primary-color);
    text-align: left;
}

.btn-bootstrap {
    position: relative;
    top: 8.3%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn1-bootstrap {
    position: relative;
    top: 20.5%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn2-bootstrap {
    position: relative;
    top: 9%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media(max-width:700px) {
    .enlaces2 {
        width: 100%;
        margin: auto;
        flex-direction: column;
        align-items: center;
    }
    .btn-bootstrap,
    .btn1-bootstrap,
    .btn2-bootstrap {
        margin-top: 35px;
        margin-bottom: -10px;
    }
    .general {
        width: 100%;
        margin-left: 0;
        text-align: center;
    }
    .title {
        align-items: center;
        padding-right: 40px;
    }
    .introducion2 {
        width: 90%;
        text-align: left;
    }
}


/*fin sesion 2*/


/* inicio banner*/

.banner {
    background-image: url("./assets/imagenes/banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-align: center;
}

.h1-banner {
    color: var(--light-color);
    font-size: 60px;
    font-family: var(--title-font);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
    -webkit-text-stroke: 1px;
}

@media(max-width:700px) {
    .h1-banner {
        font-size: 3em;
    }
}


/*fin banner*/


/*inicio sesion 3*/

.enlaces3 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-top: 20px;
    padding-bottom: 20px;
    background: linear-gradient(145deg, #ffffff, #e6e6fa);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin: 90px;
    padding: 20px;
}

.enlaces3:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.horizontal-img3 {
    flex: 1;
    max-width: 350px;
    height: 271px;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.horizontal-img3:hover {
    transform: scale(1.05);
}

.general {
    display: flex;
    background-repeat: no-repeat;
    background-position: center;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 50px;
}

.introducion3 {
    width: 90%;
    font-size: 26px;
    font-family: var(--text-font);
    margin-bottom: 10px;
    padding-left: 40px;
}

.title {
    font-size: 30px;
    font-family: var(--text-title);
    padding-left: 40px;
}

.leer1 {
    font-family: var(--text-font);
    font-size: 15px;
    margin-right: 79.5%;
    width: fit-content(120px);
    height: fit-content(60px);
    padding: 5px;
}

button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

@media(max-width:700px) {
    .enlaces3 {
        width: 100%;
        margin: auto;
        flex-direction: column;
        align-items: center;
    }
    .horizontal-img3 {
        max-width: 90%;
        height: auto;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 20px;
    }
    .general {
        width: 100%;
        margin-left: 0;
        text-align: center;
    }
    .title {
        align-items: center;
        font-size: 1.5em;
    }
    .introducion3 {
        width: 90%;
        text-align: left;
    }
    .leer1 {
        margin-right: 0px;
        margin-top: 10px;
        justify-content: center;
        align-items: center;
        max-width: 700px;
    }
}

@media(max-width:700px) {
    .title-explora {
        font-size: 1.5em;
    }
    .title4 {
        font-size: 1.5em;
        align-items: center;
    }
    .introducion4 {
        font-size: 1.5em;
    }
}


/* section 6 */

.enlaces6 {
    position: relative;
    padding: 40px 20px;
    background-color: #f7f7f7;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    text-align: center;
    margin: 2px auto;
}

.title-testimonio {
    font-size: 30px;
    font-family: var(--text-title);
    color: var(--terceary-color);
    margin-bottom: 20px;
}

.testimonios-container {
    display: flex;
    overflow: auto;
    padding: 20px 0;
    gap: 10px;
}

.testimonios-container::-webkit-scrollbar {
    display: none;
}

.general-testimonios {
    min-width: 300px;
    background: var(--light-color);
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: left;
    transition: box-shadow 0.3s ease-in-out
}

.general-testimonios:hover {
    box-shadow: 0 8px 5px rgba(0, 0, 0, 0.3);
}

.horizontal-img6 {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-bottom: 10px;
    object-fit: cover;
    margin-right: 5px;
    transition: transform 0.3s
}

.arrow {
    position: absolute;
    top: 50%;
    font-size: 10px;
    color: #333;
    background: rgba(255, 255, 255, 0.7);
    cursor: pointer;
    padding: 10px;
    z-index: 2;
    outline: none;
}

.arrow:focus {
    outline: none;
}

.arrow:active {
    background: white;
}

.arrow-left {
    left: 0px;
    padding: -20px;
}

.arrow-right {
    right: 0px;
    padding: -20px;
}

.horizontal-img6:hover {
    transform: scale(1.5);
}

.calificacion-testimonio {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    margin-top: 0;
}

.img-estrellas-calificacion {
    display: flex;
    gap: 60px;
}

.estrella {
    font-size: 1.5em;
    color: white;
}

.estrella-s {
    font-size: 1.5em;
    color: gold;
}

.estrella-g {
    font-size: 1.5em;
    color: gold;
}

.estrella-1 {
    font-size: 1.5em;
    color: gold;
}

.estrella-2 {
    font-size: 1.5em;
    color: gold;
}

.estrella-3 {
    font-size: 1.5em;
    color: gold;
}

.estrella-4 {
    font-size: 1.5em;
    color: gold;
}

.estrella-5 {
    font-size: 1.5em;
    color: gold;
}

.estrella-6 {
    font-size: 1.5em;
    color: gold;
}

.introducion6 {
    font-size: 1em;
    color: var(--terceary-color);
    margin: 10px 0;
    font-family: var(--text-font);
}

.h3-testimonio {
    font-size: 1.2em;
    color: var(--blue-color);
    margin-top: 10px;
    font-family: var(--text-font);
}

@media(max-width:700px) {
    .general-testimonios {
        min-width: 100%;
        scroll-snap-align: center;
    }
}

@media(min-width:700px) {
    .arrow {
        display: none;
    }
}


/* fin de la sesion 6 */


/*inicio de medios de comunicacion*/

.medios-de-comunicacion {
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    background-color: var(--light-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.title-medios {
    font-size: 23px;
    font-family: var(--title-font);
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    color: var(--terceary-color);
}

.subtitle-medios {
    font-size: 18px;
    font-family: var(--text-title);
    margin-top: 12px;
    margin-bottom: 7px;
    font-style: italic;
}

.intro-medios {
    font-size: 15px;
    font-family: var(--text-font);
    text-align: justify;
    margin-top: 5px;
    margin-bottom: 5px;
}

.informacion-medios {
    font-size: 15px;
    font-family: var(--text-font);
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 40px;
}

.list-medios {
    font-size: 15px;
    font-family: var(--text-title);
    color: var(--terceary-color);
    margin-top: 12px;
    margin-bottom: 7px;
    padding-left: 20px;
    list-style-position: inside;
}

@media(max-width:700px) {
    .medios-de-comunicacion {
        padding: 10px;
        margin: 15px 20px;
    }
}


/*seccion de conozcanos*/

.section-conozcanos {
    padding: 20px;
    background: var(--light-color);
    margin: 20px auto;
    border-radius: 8px;
    max-width: 1000px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.title-section {
    color: var(--terceary-color);
    text-align: center;
    margin: 0 0 15px 0;
    padding: 10px 0;
    font-size: 26px;
    font-family: var(--text-title);
}

.subtitle-section {
    font-size: 23px;
    margin: 0 0 15px 0;
    color: var(--blue-color);
    text-align: center;
    padding: 10px 0;
    font-family: var(--title-font);
}

.sub-section {
    font-size: 18px;
    font-style: italic;
    color: var(--terceary-color);
    font-family: var(--title-font);
}

.text-conozcanos {
    text-align: justify;
    margin: 10px 0;
    font-size: 16px;
    font-family: var(--text-font);
}

.ul-conozcanos {
    list-style: none;
    padding: 0;
}

.list-conozcanos {
    background: #f9f9f9;
    margin: 10px 0;
    padding: 10px;
    border-left: 4px solid #007BFF;
    font-weight: bold;
    border-radius: 4px;
}

@media(max-width:700px) {
    .section-conozcanos {
        margin: 10px 20px;
    }
}


/*finalizamos la section de conozca mas de nuestros servicios*/


/*iniciamos la section de terminos y condiciones*/

.section-terminos {
    padding: 20px;
    background: var(--light-color);
    margin: 20px auto;
    border-radius: 8px;
    max-width: 1000px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.title-terminos {
    color: var(--terceary-color);
    text-align: center;
    margin: 0 0 15px 0;
    padding: 10px 0;
    font-size: 26px;
    font-family: var(--text-title);
}

.subtitle-terminos {
    font-size: 23px;
    margin: 0 0 15px 0;
    color: var(--blue-color);
    text-align: center;
    padding: 10px 0;
    font-family: var(--title-font);
}

.sub-terminos {
    font-size: 18px;
    font-style: italic;
    color: var(--terceary-color);
    font-family: var(--title-font);
}

.text-terminos {
    text-align: justify;
    margin: 10px 0;
    font-size: 16px;
    font-family: var(--text-font);
}

.ul-terminos {
    list-style: none;
    padding: 0;
}

.list-terminos {
    background: #f9f9f9;
    margin: 10px 0;
    padding: 10px;
    border-left: 4px solid #007BFF;
    font-weight: bold;
    border-radius: 4px;
}

@media(max-width:700px) {
    .section-terminos {
        margin: 10px 20px;
    }
}


/* inico de sesion*/

.login {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-image: url("/assets/imagenes/Hero-section.png");
    padding-top: 105px;
    padding-bottom: 105px;
}

::-webkit-input-placeholder {
    color: black;
}

.inicio-sesion {
    position: relative;
    background-color: white;
    width: 800px;
    height: 65vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 3px solid #00ffff;
    box-shadow: 0 0 10px 0 #00a6bc;
}

.inicio-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inicio-title {
    font-size: 35px;
    font-family: var(--title-font);
}

.inp-div {
    padding-bottom: 10px;
    border-bottom: 2px solid #eee;
}

.inp-usuario {
    border: none;
    outline: none;
    background: none;
    width: 260px;
    margin-top: 40px;
    padding-right: 10px;
    font-family: 17px;
    color: black;
}

.inicio-btn {
    border: none;
    outline: none;
    width: 288px;
    margin-top: 25px;
    padding: 10px 0;
    font-size: 20px;
    border-radius: 40px;
    letter-spacing: 1px;
    cursor: pointer;
    background: linear-gradient(45deg, #0ef, #c800ff);
}

.no-text {
    margin-top: 30px;
    letter-spacing: 0.5px;
    font-size: 14px;
}

.link-inicio {
    color: blue;
    text-decoration: none;
}

.banner-inicio {
    position: absolute;
    top: 0;
    right: 0;
    width: 450px;
    height: 100%;
    background: linear-gradient(to right, #0ef, #c800ff);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 60% 100%);
    padding-right: 70px;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.title-banner {
    font-size: 40px;
    margin-top: -50px;
    line-height: 50px;
}

.forget {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 25px -5px 0 5px;
    color: black;
}

.forget label {
    display: flex;
    align-items: center;
    margin-right: 25px;
}

.forget label input {
    margin-left: 5px;
    color: var(--blue-color);
}

.forget label p {
    margin-left: -24px;
    font-size: 15px;
}

.forget a {
    font-size: 15px;
    color: var(--blue-color);
    margin-right: -15px;
}

@media(max-width:700px) {
    .banner-inicio {
        display: none;
    }
    .login {
        width: 100%;
    }
    .inicio-sesion {
        box-sizing: border-box;
        box-shadow: none;
        border: none;
        padding: 10px;
        width: 95%;
        align-items: center;
    }
    .inicio-form {
        padding-left: 30px;
    }
}


/*fin del inicio de sesion*/


/*inicio de registrarme*/

.google-bt {
    margin-top: 10px;
}

.google-bt i {
    color: #DB4437;
}

.google-btn {
    color: #4285F4;
}


/*final del registrarme*/


/*Recuperar contraseña*/

.inicio-titl {
    font-size: 25px;
    font-family: var(--title-font);
}

.recuperar-p {
    font-size: 12px;
    padding-left: 15px;
}

.recuperar-btn {
    font-size: 10px;
    padding: 2px 2px;
    margin-left: 235px;
}

.inicios-titl {
    font-size: 25px;
    font-family: var(--text-font);
}